@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

*{
   
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
margin: 0px;
padding: 0px;
background-color: hsl(233, 47%, 7%);
}

#container{
    width: 90%;
     background-color:  hsl(244, 38%, 16%);
    margin: 6rem auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#container .pic{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    top: 0px;
    height: 248px;
    margin: 0px auto;
    background-color: hsl(277, 64%, 61%);
    background-repeat: no-repeat;
    background-image: url('/images/image-header-mobile.jpg');
    background-blend-mode:multiply;
    background-size: 100% auto;
}


.pic img{
    width: 100%;
    height: 100%;
}

#description{
    width: 88%;
    margin: 2.4rem auto;
}
#description #tagline{
    color:hsl(0, 0%, 100%) ;
    font-family:Inter;
    font-weight: 700;
  text-align: center;
  font-size: 1.85rem;
  margin: 0.7rem 5px;
}

#description #about{
    color: hsla(0, 0%, 100%, 0.6);
    font-family:Inter;
    font-weight: 400;
  text-align: center;
  font-size:15px;
padding: 10px 20px;
  line-height:26px;
}

#description #details{
    font-family:Inter;
    font-weight: 400;
  text-align: center;
  font-size:15px;
  margin: 1rem 1.6rem;
  letter-spacing: 1px;
  line-height:29px;
  padding-bottom: 18px;
  
}

#description #details p{
    display: flex;
    flex-direction: column;
    margin:2rem;
    line-height:29px;
}

#description #details p .s1{
    font-size:1.5rem;
    color: hsl(0, 0%, 100%) ;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: 700;
}


#description #details p .s2{
    font-size:15px;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family:Lexend Deca;
    font-weight: 700;
}

@media only screen and (min-width: 845px) {
  
#container{
  display: flex;
  width: 70%;
  height: 380px;
  background-color:  hsl(244, 38%, 16%);
  margin: 11% auto;
  border-top-right-radius:7px;
  border-top-left-radius:7px;
  border-bottom-right-radius:7px;
  border-bottom-left-radius:7px;

}


#container .pic{
width: 76%;
height: 380px;
  background-image: url('/images/image-header-desktop.jpg');
  order: 2;
  border-top-left-radius:0px;
  border-bottom-right-radius:7px;
}


.pic img{
  width: 100%;
  height: 100%;
}

#description{
  padding-right: 1rem;
  width: 80%;
  order: 1;
 
}

#description #details{
display: flex;
justify-content: space-around;
width: 75%;
position: relative;
left: 1.5rem;
}


#description #tagline{
  text-align: left;
  padding: 18px 4.5rem 18px 3.5rem;
  letter-spacing: 1px;
  font-size: 1.9rem;
  font-weight: bold;
}

#description #about{
padding: 0px 7rem 18px 3.8rem;
line-height: 20px;
text-align: left;
font-size: 13px;
}



#description #details p{
  display: flex;
  margin:2rem;
  line-height:21px;
}

#description #details p .s1{
  text-align: left;
  font-size:1.2rem;
  color: hsl(0, 0%, 100%) ;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 700;
}


#description #details p .s2{
  margin-top: 0px;
  font-size:13px;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-family:Lexend Deca;
  font-weight: 200;
}

}